/* DashVandet.css */
.dash-vandet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px; /* Set a maximum width for responsiveness */
  margin: 50px auto; /* Center the container horizontally */
  padding: 2rem; /* Add some padding for spacing */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow to create a pop-out effect */
  border-radius: 10px; /* Add some rounded corners */
  overflow: hidden; /* Hide the blur effect outside the container */
}


.dash-van-head {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 2rem;
}

.dash-vandet-img {
  width: 200px;
  height: 200px;
  object-fit: cover; /* Ensure image fills container while maintaining aspect ratio */
  border-radius: 5px; /* Add some rounded corners */
  margin-right: 2rem;
}

.dash-van-head-text {
  flex: 1; /* Allow text content to grow and fill remaining space */
}

.dash-vandet-type {
  display: inline-block;
  margin-right: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff; /* Set text color to white */
  font-weight: bold;
}

/* .dash-vandet-type.cargo {
  background-color: #007bff;
}

.dash-vandet-type.passenger {
  background-color: #28a745; 
}

.dash-vandet-type.selected {
  border: 1px solid #ddd;
} */

.dash-vandet-name {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.dash-vandet-price {
  font-weight: bold;
  margin-bottom: 1rem;
}

.dash-vandet-description {
  margin-bottom: 1rem;
  line-height: 1.5; /* Increase line spacing for readability */
  text-align: left;
}

.dash-vandet-button {
  background-color: #28a745; /* Green button color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.dash-vandet-button:hover {
  background-color: #1e7c3c; /* Darken button color on hover */
}
