/* Reviews.css */

.reviews-container {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .reviews-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .review-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .review-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .author {
    font-weight: bold;
    color:darkslategrey;
  }
  
  .date {
    color: #666;
  }
  
  .content {
    color: #333;
  }
  