/* VanDetail.css */
.van-detail-container {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.van-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.van-detail img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.van-type {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.van-price {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.link-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.link-button:hover {
    background-color: #0056b3;
}

