.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  padding: 2rem;
}

.vans-avail {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filter-buttons button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #06038D;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.filter-buttons button:hover {
  background-color: #04025C;
}

.filter-buttons button.active {
  background-color: #06038D;
  font-weight: bold;
}

.vans-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .vans-container {
    flex-direction: column;
  }
}
