.Dashvan {
    display: flex;
    height: 150px;
    padding: 25px;
    background-color: aquamarine;
    margin: 20px 5px;


}

.Dashvan > img {
    height: 100%;
}


.van-info {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.van-header {
    padding-right: 30px;
}

.van-specs {
    padding-left: 30px;
    font-size: 20px;
}
/* 
.van-info h3 {
    margin: 0;
    font-size: 1.2em;
}

.van-info p {
    margin: 0;
    font-size: 1em;
}

.van-type {
    margin-top: 10px;
    font-size: 0.8em;
    color: #777;
}

.van-type.selected {
    color: #444;
} */