/* DashVan.css */

.dash-van {
    display: flex;
    align-items: center;
    height: 150px;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 5px;
    transition: transform 0.3s ease;
  
  }
  
  .dash-van:hover {
    transform: translateY(-5px);
  }
  
  .dash-van > img {
    height: 100%;
    max-width: 150px;
    margin-right: 15px;
    border-radius: 8px;
  }
  
  .van-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  
  .van-header {
    padding-right: 30px;
  }
  
  .van-specs {
    padding-left: 30px;
  }
  
  .van-type {
    font-size: 0.8em;
    color: #777;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .van-type.campervan {
    color: #6ab04c; /* Green color for campervan type */
  }
  
  .van-type.minivan {
    color: #f9a11e; /* Orange color for minivan type */
  }
  
  .van-type.suv {
    color: #d95d39; /* Red color for SUV type */
  }
  
  .van-type.truck {
    color: #3b5998; /* Blue color for truck type */
  }
  