.navbar {
    background-color: transparent;
    padding: 50px 0;
    margin: 0px;
    width: 100%;
  }
  
  .navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0 30px;
  }
  
  .navbar__logo {
    width: 100px;
  }
  
  .navbar__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar__item {
    margin-left: 20px;
  }
  
  .navbar__link {
    color: #313131;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar__link:hover {
    color: #365a38;
  }
  