.van {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 250px; /* Adjust width as needed */
  transition: transform 0.2s ease-in-out;
}

.van:hover {
  transform: scale(1.05);
}

.van img {
  width: 100%;
  height: 150px; /* Adjust height as needed */
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.van-info {
  padding: 1rem;
  text-align: center;
}

.van-info h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.van-info p {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.van-type {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: 1rem;
  color: white;
}

.simple {
  background-color: #3498db; /* Adjust color as needed */
}

.rugged {
  background-color: #0a0c0b; /* Adjust color as needed */
}

.luxury {
  background-color: #f1c40f; /* Adjust color as needed */
}
