:root {
  font-family: poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;

  color-scheme:   light dark;
  background-color: #fff7ed;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

p {
  color: #161616;
  font-weight: 400;
}

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #000000;
  }
